.idea/
node_modules/
*.iml
npm-debug.log
api/**/*.nedb
*.report.html
coverage
*.DS_Store
*.env

config/*.json
config/*.p8

uploads/**/*.*
!uploads/**/*.js

swagger_output.json
qdrant_storage/

*.mp3
*.pdf