.idea/
node_modules/
*.iml
npm-debug.log
api/**/*.nedb
*.report.html
coverage
*.DS_Store
*.env

backend/uploads/**/*
!backend/uploads/*.js

backend/output/**/*
!backend/output/*.js

config/*.json
config/*.p8

swagger_output.json
qdrant_storage/
