PORT                                        = 3008
OPENAI_API_KEY                              = ""

LANGCHAIN_CALLBACKS_BACKGROUND              = true
LANGCHAIN_TRACING_V2                        = true
LANGCHAIN_API_KEY                           = 
LANGCHAIN_PROJECT                           = 
